<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ynet.fullview.mapper.ArticMapper" >
  <resultMap id="BaseResultMap" type="com.ynet.fullview.model.Artic" >
    <result column="artic_id" property="articId" jdbcType="INTEGER" />
    <result column="artic_title" property="articTitle" jdbcType="VARCHAR" />
    <result column="artic_content" property="articContent" jdbcType="VARCHAR" />
    <result column="artic_type" property="articType" jdbcType="VARCHAR" />
  </resultMap>
</mapper>