<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ynet.fullview.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.ynet.fullview.model.Comment" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="regionId" property="regionid" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
  </resultMap>


  <insert id="addCommnet" parameterType="com.ynet.fullview.model.Comment">
    insert into comment(id,regionId,comment)values(#{id},#{regionId},#{comment);
  </insert>

  <delete id="deleteCommnet" parameterType="com.ynet.fullview.model.Comment">
    delete from comment where id=#{id}
  </delete>

  <update id="upateCommnet" parameterType="com.ynet.fullview.model.Comment">
    update comment set
    <if test="regionId!=null">
      regionId=#{regionId}
    </if>
    <if test="comment!=null">
      comment=#{comment}
    </if>
    where id=#{id}
  </update>

  <select id="queryComment" parameterType="com.ynet.fullview.model.Comment" resultType="com.ynet.fullview.model.Comment">
    select * from comment 
    <if test="id!=null">
      where id=#{id}
    </if>
  </select>
</mapper>