<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ynet.fullview.mapper.RegionMapper" >
  <resultMap id="BaseResultMap" type="com.ynet.fullview.model.Region" >
    <result column="id" property="id" jdbcType="VARCHAR" />
    <result column="imagepath" property="imagepath" jdbcType="VARCHAR" />
    <result column="notify" property="notify" jdbcType="VARCHAR" />
  </resultMap>
  
  <insert id="addFullView" parameterType="com.ynet.fullview.model.Region">
    insert into Region(id,imagepath,notify)values(#{id},#{imagepath},#{notify})
  </insert>

  <update id="updateFullView" parameterType="com.ynet.fullview.model.Region">
    update Region set 
    <if test="imagepath!=null">
      imagepath=#{imagepath}
    </if>
    <if test="notify!=null">
      notify=#{notify}
    </if>
    where id=#{id}
  </update>

  <select id="queryFullview" parameterType="com.ynet.fullview.model.Region" resultType="com.ynet.fullview.model.Region">
    select * from Region
    <if test="id!=null">
      where id=#{id}
    </if>

  </select>


</mapper>