<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ynet.fullview.dao.RoleRourceMapper" >
  <resultMap id="BaseResultMap" type="com.ynet.fullview.model.RoleRource" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="roleId" property="roleid" jdbcType="INTEGER" />
    <result column="sourceId" property="sourceid" jdbcType="INTEGER" />
  </resultMap>
</mapper>